.contactSection{
    display: flex;
    justify-content: space-between;
    width: 65vw;
}

.contactForm{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32.5vw;
}

.twoPrimaryBtns{
    display: flex;
    gap: 24px;
    width: 32.5vw;
    justify-content: center;
    margin-bottom: 24px;
}

.contactImage{
    padding-left: 5vw;
    width: 32.5vw;
}